<ul class="c-nav{% if subnav == true %}__sublist{% endif %}">
{% for item in children %}
    <li class="{{ item.classes }} c-nav__item--level{{ item.level }}">
        <a class="c-nav__link" href="{{ item.uri }}">
            {% if item.children|length > 0 %}
                {{ icon('chevron', '', 'c-nav__chevron', '', 'aria-hidden="true"') }}
            {% endif %}
            <span class="inset"></span>
            <span class="c-nav__linktext">{{ item.title }}</span>
        </a>
        {% if item.children|length > 0 %}
            {% include "partials/nav.twig" with { children: item.children, subnav: true } %}
        {% endif %}
    </li>
{% endfor %}
</ul>
