{% extends "layout.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
    <base href="/{{ version }}/{{ language }}/">
{% endblock %}

{% block content %}
    <div class="flex">
        <div class="flex-c-1 wf p-2">
            <h2>On this page</h2>
            {{ toc|raw }}

            <h2>Navigation</h2>
            {{ nav|raw }}
        </div>
        <div class="flex-c-4 wf p-2">
            <h1>{{ meta.title }}</h1>
            {% if versions|length > 1 %}
                <p>
                    <small>
                        <em>Other versions of this documentation:
                            {% for version in versions %}
                                <a href="{{ version.uri }}">{{ version.title }}</a>
                            {% endfor %}
                        </em>
                    </small>
                </p>
            {% endif %}
            {{ parsed|raw }}
        </div>
    </div>
{% endblock %}