{% extends "layout.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
    <base href="{{ settings.directory }}{{ version }}/{{ language }}/">
{% endblock %}

{% block content %}
    <div class="flex">
        <div class="sidebar flex-c-1">
            <h2>On this page</h2>
            {{ toc|raw }}

            {% if current_nav_parent %}
                <h2><a href="{{ current_nav_parent.uri }}">{{ current_nav_parent.title }}</a></h2>
            {% else %}
                <h2>Navigation</h2>
            {% endif %}
            {{ nav|raw }}
        </div>
        <div class="content flex-c-4 p-2">
            <h1>{{ meta.title }}</h1>
            {% if versions|length > 1 %}
                <p>
                    <small>
                        <em>
                            Other versions:
                            {% for version in versions %}
                                <a href="{{ version.uri }}">{{ version.title }}</a>
                            {% endfor %}
                            &mdash;
                            Found a problem with this page?
                            Please <a href="https://github.com/Mark-H/Docs/edit/{{ version_branch }}/{{ language }}/{{ file_path }}" target="_blank" rel="noopener">improve the documentation</a> or <a href="https://github.com/Mark-H/Docs/issues/new?title=Problem+with+{{ file_path|url_encode }}" target="_blank" rel="noopener">create an issue</a>.
                        </em>
                    </small>
                </p>
            {% endif %}
            {{ parsed|raw }}
        </div>
    </div>
{% endblock %}