{% extends "layout.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <main id="main" class="l-main">
        <div class="l-main__title">
            {% if crumbs|length > 1 %}
            <nav class="c-breadcrumb" aria-label="Breadcrumb">
                <ol class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                    {% for crumb in crumbs %}
                        <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a class="c-breadcrumb__link" href="{{ crumb.href }}" itemtype="https://schema.org/Thing" itemprop="item">
                                <span itemprop="name">{{ crumb.title }}</span>
                                <meta itemprop="position" content="{{ loop.index }}">
                            </a>
                        </li>
                    {% endfor %}
                    {# current item gets special markup: #}
                    <li  class="c-breadcrumb__item show-for-sr" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        {# aria-current for current visible page and --current modifier class  #}
                        <a class="c-breadcrumb__link c-breadcrumb__link--current" href="{{ current_uri }}" aria-current="page" itemtype="https://schema.org/Thing" itemprop="item">
                            <span itemprop="name">{{ title }}</span>
                            <meta itemprop="position" content="{{ crumbs|length + 1 }}">
                        </a>
                    </li>
                </ol>
            </nav>
            {% endif %}

            <h1 class="u-no-margin--top">{{ meta.title }}</h1>

            <p class="o-docmeta">
                <small>
                    <em>
                        {% if versions %}
                            Other versions:
                            {% for version in versions %}
                                <a href="{{ version.uri }}">{{ version.title }}</a>
                            {% endfor %}
                            &mdash;
                        {% endif %}
                        Found a problem?
                        <nobr>
                            Please
                            <a href="https://github.com/modxorg/Docs/edit/{{ version_branch }}/{{ language }}/{{ path }}"
                                target="_blank" rel="noopener">edit this page</a>
                        </nobr>
                        or
                        <a href="https://github.com/modxorg/Docs/issues/new?title=Issue+on+{{ path|url_encode }}&template=incorrect.md"
                            target="_blank" rel="noopener">report an issue</a>.
                    </em>
                </small>
            </p>

            {% if meta.suggest_delete %}
                <div class="doc-note doc-note__delete">
                    This page is marked as a candidate to be deleted: {{ meta.suggest_delete }}
                </div>
            {% endif %}
        </div>

        <div class="l-main__contentwrapper">

            {% if toc is not empty %}
                <div class="l-main__toc">
                    <nav class="c-toc" aria-labelledby="toc-title">
                        <div class="c-toc__wrapper">
                            <span class="c-toc__title" id="toc-title">In this document:</span>
                            {{ toc|raw }}
                        </div>
                    </nav>
                </div>
            {% endif %}

            <div class="l-main__content">
                {% if meta.note %}
                    <div class="doc-note">
                        <strong>Note:</strong> {{ meta.note }}
                    </div>
                {% endif %}

                {{ parsed|raw }}
            </div>
        </div>

    </main>
{% endblock %}
