{% extends "layout.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <main id="main" class="l-main">
        <div class="l-main__title">
            {% if crumbs|length > 1 %}
            <nav class="c-breadcrumb" aria-label="Breadcrumb">
                <ol class="c-breadcrumb__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                    {% for crumb in crumbs %}
                        <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a class="c-breadcrumb__link" href="{{ crumb.href }}" itemtype="https://schema.org/Thing" itemprop="item">
                                <span itemprop="name">{{ crumb.title }}</span>
                                <meta itemprop="position" content="{{ loop.index }}">
                            </a>
                        </li>
                    {% endfor %}
                    {# current item gets special markup: #}
                    <li  class="c-breadcrumb__item u-show-for-sr" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        {# aria-current for current visible page and --current modifier class  #}
                        <a class="c-breadcrumb__link c-breadcrumb__link--current" href="{{ current_uri }}" aria-current="page" itemtype="https://schema.org/Thing" itemprop="item">
                            <span itemprop="name">{{ title }}</span>
                            <meta itemprop="position" content="{{ crumbs|length + 1 }}">
                        </a>
                    </li>
                </ol>
            </nav>
            {% endif %}

            <h1 class="u-no-margin--top">{{ meta.title }}</h1>

            <div class="c-history">
                {% if history.contributors %}
                    <div class="c-contributors">
                        {% for contributor in history.contributors %}
                            <img class="c-contributor" src="{{ contributor.gravatar }}" alt="{{ contributor.name }}" title="{{ contributor.name }} has updated this page {{ contributor.count }} time{% if contributor.count != 1 %}s{% endif %}">
                        {% endfor %}
                    </div>
                {% endif %}
                <p class="c-last-edit">
                    {{ lang.last_updated }} {% if history.last_change %}{{ history.last_change|date('M jS, Y') }}{% else %}not available{% endif %}
                    | <a href="https://github.com/modxorg/Docs/commits/{{ relative_file_path }}" target="_blank" rel="noopener">{{ lang.page_history }}</a>
                    | <a href="https://github.com/modxorg/Docs/edit/{{ relative_file_path }}" target="_blank" rel="noopener">{{ lang.improve_page }}</a>
                    | <a href="https://github.com/modxorg/Docs/issues/new?title=Issue+on+{{ path|url_encode }}&template=incorrect.md" target="_blank" rel="noopener">{{ lang.report_issue }}</a>
                </p>
            </div>

            {% if 'en' in suggested_languages %}
            <div class="c-callout c-callout--info">
                Hello! <a href="{{ path_for('documentation', {version: version, language: 'en', path: 'index'}) }}">The MODX documentation is also available in English</a>.
            </div>
            {% endif %}
            {% if 'nl' in suggested_languages %}
            <div class="c-callout c-callout--info">
                Hoi! <a href="{{ path_for('documentation', {version: version, language: 'nl', path: 'index'}) }}">De MODX documentatie is ook (deels) in het Nederlandstalig beschikbaar</a>.
            </div>
            {% endif %}
            {% if 'ru' in suggested_languages %}
            <div class="c-callout c-callout--info">
                Здравствуй! <a href="{{ path_for('documentation', {version: version, language: 'ru', path: 'index'}) }}">Документация MODX также доступна на русском языке</a>.
            </div>
            {% endif %}
            {% if 'es' in suggested_languages %}
            <div class="c-callout c-callout--info">
                ¡Hola! <a href="{{ path_for('documentation', {version: version, language: 'es', path: 'index'}) }}">La documentación MODX también está (parcialmente) disponible en español.</a>
            </div>
            {% endif %}

            {% if meta.suggest_delete %}
                <div class="c-callout c-callout--warning">
                    {{ lang.suggest_delete }}
                    {{ meta.suggest_delete }}
                </div>
            {% endif %}
        </div>

        <div class="l-main__contentwrapper">

            {% if toc is not empty %}
                <div class="l-main__toc">
                    <nav class="c-toc" aria-labelledby="toc-title">
                        <div class="c-toc__wrapper">
                            <span class="c-toc__title" id="toc-title">
                                {{ lang.in_this_document }}
                            </span>
                            {{ toc|raw }}
                        </div>
                    </nav>

                    <a class="l-main__oc" href="https://opencollective.com/modx" target="_blank" rel="noopener">
                        {{ icon('opencollective', 'Open COllective', 'c-oc__logo') }}
                        <p class="c-oc__text">Support the team building MODX with a monthly donation.</p>


                        <p class="c-oc__text">The budget raised through OpenCollective is transparent, including payouts, and any contributor can apply to be paid for their work on MODX.</p>

                        <p class="c-oc__subtitle">Backers</p>

                        <ul class="c-oc__members">
                            {% apply spaceless %}
                            {% for member in opencollective_members %}
                                <li class="c-oc__member">
                                    <img src="{{ member.image }}" alt="{{ member.name }}" onerror="this.style.display = 'none';" class="c-oc__member_image" loading="lazy" title="{{ member.name }} has contributed ${{ (member.totalAmountDonated)|number_format }} to MODX">
                                </li>
                            {% endfor %}
                            {% endapply %}
                        </ul>
                        <p class="c-oc__subtitle">Budget</p>
                        <p class="c-oc__text">${{ (opencollective.yearlyIncome / 12 / 100)|number_format }} per month&mdash;let's make that $500!</p>
                    </a>

                    <a href="/current/en/contribute/funding" class="c-oc__more" title="Learn more about funding MODX">Learn more</a>
                </div>
            {% endif %}

            <div class="l-main__content">
                {% if meta.note %}
                    <div class="c-callout">
                        <strong class="c-callout__title">
                            {{ lang.note }}
                        </strong>
                        {{ meta.note }}
                    </div>
                {% endif %}

                {{ parsed|raw }}


                <a class="l-main__oc l-main__oc--below" href="https://opencollective.com/modx" target="_blank" rel="noopener">
                    {{ icon('opencollective', 'Open COllective', 'c-oc__logo') }}
                    <p class="c-oc__text">Support the team building MODX with a monthly donation.</p>


                    <p class="c-oc__text">The budget raised through OpenCollective is transparent, including payouts, and any contributor can apply to be paid for their work on MODX.</p>

                    <p class="c-oc__subtitle">Backers</p>

                    <ul class="c-oc__members">
                        {% apply spaceless %}
                            {% for member in opencollective_members %}
                                <li class="c-oc__member">
                                    <img src="{{ member.image }}" alt="{{ member.name }}" onerror="this.parentNode.style.display = 'none';" class="c-oc__member_image" loading="lazy" title="{{ member.name }} has contributed ${{ (member.totalAmountDonated)|number_format }} to MODX">
                                </li>
                            {% endfor %}
                        {% endapply %}
                    </ul>
                    <p class="c-oc__subtitle">Budget</p>
                    <p class="c-oc__text">${{ (opencollective.yearlyIncome / 12 / 100)|number_format }} per month&mdash;let's make that $500!</p>
                </a>

                <a href="/current/en/contribute/funding" class="c-oc__more c-oc__more--below" title="Learn more about funding MODX">Learn more</a>
            </div>
        </div>

    </main>
{% endblock %}

{% block footer_scripts %}
    {# Make the search autofocus on the homepage #}
    {% if path == 'index' %}
        <script>
            (function() {
                var search = document.getElementById('search');
                if (search) {
                    search.focus();
                }
            })()
        </script>
    {% endif %}
{% endblock %}
