<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome to the MODX Documentation{% endblock %}</title>
    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="{{ settings.directory }}assets/wireframe/wf.css">
    <link rel="stylesheet" href="{{ settings.directory }}assets/wireframe/app.css">
</head>
<body class="light">

<header class="wf-bottom">
    <div class="logo">
        <img src="https://modx.com/assets/design/css/images/modx-logo-color.svg" width="200">
    </div>
    <nav class="menu">
        {% for item in topnav %}
            <a href="{{ item.uri }}" class="nav-item">{{ item.title }}</a>
        {% endfor %}
    </nav>
</header>

{% block container %}
<div class="container">
    <div class="content-container">
        {% block content %}
            <h1>{{ page.title }}</h1>
            <p style="font-size: 1.1em;">{{ page.introduction }}</p>
        {% endblock %}
    </div>
</div>
{% endblock %}

</body>
</html>