<!doctype html>
<html lang="{{ language }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Home{% endblock %} | MODX Docs</title>
        <meta name="description" content="{{ meta.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ canonical_url }}">

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/template/dist/app.css">
        {% block stylesheets %}{% endblock %}
        <script defer src="/template/dist/main-modern.js" type="module"></script>
        <script defer src="/template/dist/main-legacy.js" nomodule></script>
        {% block scripts %}{% endblock %}
        {% if is_dev == true %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        {% endif %}
    </head>
    <body>
        <a href="#main" class="show-for-sr">Jump to main content</a>
        <a href="#docnav" class="show-for-sr">Jump to doc navigation</a>

        <div class="l-app {% if nav is not empty %} l-app--has-sidebar{% endif %}">
            <header class="l-header">
                <div class="l-header__top">
                    <a href="{{ logo_link }}" title="MODX Docs" class="l-header__logo o-logo">
                        {{ icon('logo', 'MODX Docs', 'o-logo__image') }}
                    </a>
                    <div class="l-header__search">
                        <form method="get" action="/search" class="c-searchform">
                            <label class="c-searchform__label" for="search"><span class="show-for-sr">Enter a search term</span></label>
                            <input class="c-searchform__input" id="search" type="search" name="q" placeholder="Search documentation" required>
                            <button class="c-searchform__button" type="submit" value="Search" aria-label="Search">
                                {{ icon('search', 'Search', 'c-searchform__icon') }}
                            </button>
                        </form>
                    </div>
                </div>
            </header>

            {% block content %}
                <main id="main" class="l-main">
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.introduction }}</p>
                </main>
            {% endblock %}

            <footer class="l-footer">
                <div class="c-footer">
                    <div class="c-footer__grid">
                        <div class="c-footer__cell">
                            <ul class="c-footer__nav">
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://modx.org/" rel="noopener noreferrer" target="_blank">MODX.org</a>
                                </li>
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://community.modx.com/" rel="noopener noreferrer" target="_blank">Community Forums</a>
                                </li>
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://modxcommunity.slack.com/" rel="noopener noreferrer" target="_blank">Slack</a>
                                </li>
                            </ul>
                        </div>

                        <div class="c-footer__cell">
                            <ul class="c-footer__nav">
                                {% if file_path %}
                                    <li class="c-footer__navitem">
                                        <a class="c-footer__navlink" href="https://github.com/modxorg/Docs/edit/{{ version_branch }}/{{ language }}/{{ file_path }}" rel="noopener noreferrer" target="_blank">Edit this page</a>
                                    </li>
                                {% endif %}
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://github.com/modxorg/Docs/issues/new?title=Issue+on+{{ file_path|url_encode }}&template=incorrect.md" rel="noopener noreferrer" target="_blank">Report an issue with this page</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="c-footer__copyright">
                        <small>
                            <a href="https://github.com/modxorg/DocsApp/graphs/contributors" rel="noopener noreferrer" target="_blank">Designed, built</a> and <a href="https://github.com/modxorg/Docs/graphs/contributors" rel="noopener noreferrer" target="_blank">written</a> with all the love in the world by the MODX Community</a>.
                        </small>
                    </p>
                </div>

            </footer>

            {% if nav is not empty %}
            <nav id="docnav" arial-label="Documentation Navigation" class="l-sidebar">
                {% if current_nav_parent %}
                    <a class="o-sidebar-heading" href="{{ current_nav_parent.uri }}">{{ current_nav_parent.title }}</a>
                {% endif %}
                {{ nav|raw }}
            </nav>
            {% endif %}

{#
            <header class="c-header">
                <div class="c-header__inner">
                    <label class="header__hamburger" for="sidebar-toggle">{{ icon('menu', 'Menu') }}</label>
                    <div class="logo header__logo">
                        <a class="logo__link" href="/" title="MODX Documentation">
                            <img class="logo__img" src="/images/modx-logo-color.svg" alt="MODX Documentation">
                        </a>
                    </div>
                    <nav class="header__menu mainMenu">
                        <ul class="mainMenu__wrap">
                            {% for item in topnav %}
                                <li class="mainMenu__item">
                                    <a class="mainMenu__link" href="{{ item.uri }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__search">
                        <div class="header__search_container" title="Coming soon!">
                            search
                        </div>
                    </div>
                </div>
            </header>

            {% block container %}
                <input type="checkbox" class="sidebar__control" id="sidebar-toggle">
                <div class="container">
                    {% block content %}
                        <div class="content">
                            <h1>{{ page.title }}</h1>
                            <p>{{ page.introduction }}</p>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block footer %}
                <footer class="footerSection">
                    <div class="footer__wrap">

                        <div class="footer__col">
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a class="footer__link" href="https://modx.com/" rel="noopener" target="_blank">MODX.com</a>
                                </li>
                                <li class="footer__item">
                                    <a class="footer__link" href="https://community.modx.com/" rel="noopener" target="_blank">The MODX Community</a>
                                </li>
                                <li class="footer__item">
                                    <a class="footer__link" href="https://modxcommunity.slack.com/" rel="noopener" target="_blank">Slack</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__col">
                            <ul class="footer__menu">
                                {% if file_path %}
                                    <li class="footer__item">
                                        <a class="footer__link" href="https://github.com/modxorg/Docs/edit/{{ version_branch }}/{{ language }}/{{ file_path }}" rel="noopener" target="_blank">Edit this page</a>
                                    </li>
                                {% endif %}
                                <li class="footer__item">
                                    <a class="footer__link" href="https://github.com/modxorg/Docs/issues/new?title=Issue+on+{{ file_path|url_encode }}&template=incorrect.md" rel="noopener" target="_blank">Report an issue with this page</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="copyright__wrap">
                        <p class="copyright">
                            Designed and built with all the love in the world by the <a href="https://github.com/modxorg/Docs/graphs/contributors" rel="noopener" target="_blank">MODX community</a>.
                        </p>
                    </div>

                </footer>
            {% endblock %}
#}
        </div>
    </body>
</html>
