<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome to the MODX Documentation{% endblock %} | MODX Documentation</title>
    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="{{ settings.directory }}assets/dist/app.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<header>
    <div class="container">
        <div class="logo">
            <a href="{{ path_for('home') }}" title="MODX Documentation">
                <img src="https://modx.com/assets/design/css/images/modx-logo-color.svg" width="200" alt="MODX Logo">
            </a>
        </div>
        <nav class="menu">
            {% for item in topnav %}
                <a href="{{ item.uri }}" class="nav-item">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>

{% block container %}
<div class="container">
    <div class="content-container">
        {% block content %}
            <div class="content">
                <h1>{{ page.title }}</h1>
                <p style="font-size: 1.1em;">{{ page.introduction }}</p>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>
