<!doctype html>
<html lang="{{ language }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ lang.home }}{% endblock %} | {{ lang.title }}</title>
        <meta name="description" content="{{ meta.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ canonical_url }}">
        {% if translations %}
            {% for langKey, relativeUri in translations %}
            <link rel="alternate" href="{{ canonical_base|trim('/', 'right') }}{{ relativeUri }}" hreflang="{{ langKey }}" />
            {% endfor %}
            <link rel="alternate" href="{{ canonical_base|trim('/', 'right') }}{{ translations.en }}" hreflang="x-default" />
        {% endif %}

        <link rel="shortcut icon" href="/favicon.ico" />
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ lang.title }}">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ meta.description }}">
        <meta property="og:url" content="{{ canonical_url }}">
        <meta property="og:locale" content="{{ locale }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ block('title') }} | {{ lang.title }}">
        <meta name="twitter:description" content="{{ meta.description }}">
        <meta name="twitter:url" content="{{ canonical_url }}">
        <meta name="twitter:domain" content="{{ canonical_base }}">
        <meta name="twitter:site" content="@modx">

        <link rel="stylesheet" href="/template/dist/app.css?v={{ revision }}">

        {% block stylesheets %}{% endblock %}

        <script defer src="/template/dist/main-modern.js?v={{ revision }}" type="module"></script>
        <script defer src="/template/dist/main-legacy.js?v={{ revision }}" nomodule></script>

        {% block scripts %}{% endblock %}

        {% if is_dev == true %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        {% elseif analytics_id %}
            <!-- Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ analytics_id }}');
            </script>
        {% endif %}

    </head>
    <body>
        <a href="#main" class="u-show-for-sr">Jump to main content</a>
        <a href="#nav" class="u-show-for-sr">Jump to doc navigation</a>

        <div class="l-app {% if nav is not empty %} l-app--has-sidebar{% endif %}">
            <header class="l-header">
                <a href="#nav" title="Open Menu" class="o-openmenu">
                    {{ icon('menu', 'Menu', 'o-openmenu__icon', null, 'aria-hidden="true"') }}
                </a>

                <a href="{{ logo_link }}" title="MODX Docs" class="l-header__logo o-logo">
                    {{ icon('logo', 'MODX Docs', 'o-logo__image') }}
                </a>
                <a href="#searchform" title="Open Search" class="o-search">
                    {{ icon('search', 'Search', 'o-search__icon', null, 'aria-hidden="true"') }}
                </a>
                <div class="l-header__search" id="searchform">
                    <form method="get" action="{{ path_for('search', {language: language, version: version}) }}" class="c-searchform c-searchform--header">
                        <label class="c-searchform__label" for="search"><span class="u-show-for-sr">Enter a search term</span></label>
                        <input class="c-searchform__input" id="search" type="search" name="q" placeholder="{{ lang.search }}" autocomplete="off" required>
                        <button class="c-searchform__button" type="submit" value="Search" aria-label="Search">
                            {{ icon('search', 'Search', 'c-searchform__icon') }}
                        </button>
                    </form>

                    <div class="l-live-search__container"></div>
                </div>

                <div class="l-header__versionswitch">
                    <nav class="c-optionswitch" arial-label="Language and version settings">
                        {% set _languages = {
                            "en": {
                                "en": "English",
                                "local": "English"
                            },
                            "ru": {
                                "en": "Russian",
                                "local": "Русский"
                            },
                            "nl": {
                                "en": "Dutch",
                                "local": "Nederlands"
                            },
                            "es": {
                                "en": "Spanish",
                                "local": "Español"
                            }
                        } %}
                        <a class="c-optionswitch__current" lang="en" href="#switchsettings" aria-label="Change website language or documentation version">
                            {{ _languages[language].en }}
                            /
                            {{ version_branch }}
                            {{ icon('chevron', '', 'c-optionswitch__currentchevron', '', 'aria-hidden="true"') }}
                        </a>
                        <div id="switchsettings" class="c-optionswitch__listwrapper">
                            {% set showPageNote = false %}
                            <ul class="c-optionswitch__list" aria-label="Languages">
                                {% for langKey, langInfo in _languages %}
                                    {% set link = translations[langKey] ?? path_for('documentation', { version: version, language: langKey, path: 'index'}) %}
                                    <li class="c-optionswitch__item {% if langKey == language %}c-optionswitch__item--active{% endif %}">
                                        <a class="c-optionswitch__link" hreflang="{{ langKey }}" rel="alternate" href="{{ link }}">
                                            <span class="" lang="{{ langKey }}" aria-describedby="lang-{{ langKey }}-en">{{ langInfo.local }}</span>
                                            <span class="c-optionswitch__translation" lang="en" id="lang-{{ langKey }}-en">{{ langInfo.en }}</span>
                                            {% if not translations[langKey] %}
                                                *
                                                {% set showPageNote = true %}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if showPageNote %}
                                <li class="c-optionswitch__note">
                                    <small>* This page is not yet translated.</small>
                                </li>
                                {% endif %}
                            </ul>
                            <ul class="c-optionswitch__list" aria-label="Versions">
                                {% for version in versions %}
                                <li class="c-optionswitch__item {% if version.active %}c-optionswitch__item--active{% endif %}">
                                    <a class="c-optionswitch__link" rel="alternate" href="{{ version.uri }}">
                                        {{ version.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>

            {% block content %}
                <main id="main" class="l-main">
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.introduction }}</p>
                </main>
            {% endblock %}

            {% if nav is not empty %}
            <nav id="nav" aria-label="Navigation" class="l-sidebar">
                <a href="#" title="{% if language == 'en' %} Close menu {% elseif language == 'ru' %} Закрыть меню {% elseif language == 'nl' %} Menu sluiten {% elseif language == 'es' %} Cerrar menú {% endif %}" class="o-closemenu u-hide-with-js-sr">
                    {% if language == 'en' %} Close menu {% elseif language == 'ru' %} Закрыть меню {% elseif language == 'nl' %} Menu sluiten {% elseif language == 'es' %} Cerrar menú {% endif %}
                    {# {{ icon('close', 'Close', 'o-closemenu__icon', null, 'aria-hidden="true"') }} #}
                </a>
                {{ nav|raw }}
            </nav>
            {% endif %}

            <footer class="l-footer">
                <div class="c-footer">
                    <div class="c-footer__grid">
                        <div class="c-footer__cell">
                            <ul class="c-footer__nav">
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://modx.com/" rel="noopener noreferrer" target="_blank">MODX.com</a>
                                </li>
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://community.modx.com/" rel="noopener noreferrer" target="_blank">{{ lang.community_forum }}</a>
                                </li>
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://modxcommunity.slack.com/" rel="noopener noreferrer" target="_blank">{{ lang.slack }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="c-footer__cell">
                            <ul class="c-footer__nav">
                                {% if relative_file_path %}
                                    <li class="c-footer__navitem">
                                        <a class="c-footer__navlink" href="https://github.com/modxorg/Docs/edit/{{ relative_file_path }}" rel="noopener noreferrer" target="_blank">
                                            {{ lang.improve_page }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="c-footer__navitem">
                                    <a class="c-footer__navlink" href="https://github.com/modxorg/Docs/issues/new?title=Issue+on+{{ path|url_encode }}&template=incorrect.md" rel="noopener noreferrer" target="_blank">
                                        {{ lang.report_issue_long }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="c-footer__copyright">
                        <small>
                            {{ lang.credit|raw }}
                        </small>
                    </p>
                </div>
            </footer>

        </div>

    {% block footer_scripts %}{% endblock %}
    </body>
</html>
