<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}Welcome to the MODX Documentation{% endblock %}
            | MODX Documentation</title>
        {% block meta %}{% endblock %}

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/template/dist/app.css">
        {% block stylesheets %}{% endblock %}
        <script defer src="/template/dist/main-modern.js" type="module"></script>
        <script defer src="/template/dist/main-legacy.js" nomodule></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>

        <header class="header">
            <div class="header__inner">
                <label class="header__hamburger" for="sidebar-toggle"><img src="/images/menu.svg" alt="menu icon"></label>
                <div class="logo header__logo">
                    <a class="logo__link" href="/" title="MODX Documentation">
                        <img class="logo__img" src="/images/modx-logo-color.svg" alt="MODX Documentation">
                    </a>
                </div>
                <nav class="header__menu mainMenu">
                    <ul class="mainMenu__wrap">
                        {% for item in topnav %}
                            <li class="mainMenu__item">
                                <a class="mainMenu__link" href="{{ item.uri }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="header__search">
                    <div class="header__search_container" title="Coming soon!">
                        search
                    </div>
                </div>
            </div>
        </header>

        {% block container %}
            <input type="checkbox" class="sidebar__control" id="sidebar-toggle">
            <div class="container">
                {% block content %}
                    <div class="content">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.introduction }}</p>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            <footer class="footerSection">
                <div class="footer__wrap">

                    <div class="footer__col">
                        <ul class="footer__menu">
                            <li class="footer__item">
                                <a class="footer__link" href="https://modx.com/" rel="noopener" target="_blank">MODX.com</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="https://community.modx.com/" rel="noopener" target="_blank">The MODX Community</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="https://modxcommunity.slack.com/" rel="noopener" target="_blank">Slack</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__col">
                        <ul class="footer__menu">
                            <li class="footer__item">
                                <a class="footer__link" href="https://github.com/modxorg/Docs" rel="noopener" target="_blank">Edit this page</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="https://github.com/modxorg/DocsApp/issues/new?title=Issue+on+{{ current_uri|url_encode }}&template=bug_report.md" rel="noopener" target="_blank">Report an issue with this page</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="copyright__wrap">
                    <p class="copyright">
                        Designed and built with all the love in the world by the MODX team with the help of <a href="https://github.com/modxorg/Docs/graphs/contributors" rel="noopener" target="_blank">our contributors</a>.
                    </p>
                </div>

            </footer>
        {% endblock %}
    </body>
</html>
